#noteedit {
    margin: 30px;
    padding: 15px;
    border: 3px solid rgb(138, 7, 138);
}
#noteedit span {
    color:rgb(212, 42, 42);
}
input {
    margin-left: 5px;
    margin-right: 5px;
}
input[type = "submit"] {
    margin-left: 15px;
}
form, .btn-secondary {
    display: inline-block;
}