<div id = "notes">
  <h1>Always Note!</h1><br/>
  <div id = "instructions">
    <h4>Always Note is an application where you can create, update, delete, and keep track of various
      notes that you have filled out on this website in the form of a table. The application is
      written with Angular, meaning that every time you submit data on this website, it will do 
      so without the page refreshing every time.</h4>
    <h4>Do you have something to submit? Go ahead! Try out this application and see what you
      think! </h4>
  </div>

  <app-note-new></app-note-new>
  <app-note-list></app-note-list>
</div>